<footer class="site-footer">
  <div class="wrapper">
    <ul>
      <li><a href="mailto:apetrenko1991@gmail.com">email</a></li>
      <li><a href="https://twitter.com/petrenko_ai">twitter</a></li>
      <li><a href="https://www.facebook.com/apetrenko.nn">facebook</a></li>

      <!-- <li><a href="https://www.instagram.com/alexstogramm/">instagram</a></li> -->
      <!-- <li><a href="https://vk.com/chargerrt">vk</a></li> -->
      <li><a href="https://sketchfab.com/apetrenko1991/models?sort_by=-viewCount">sketchfab</a></li>
      <li><a href="https://www.youtube.com/channel/UCP_X2a0Gt5Y5oAonoV4hBQw">youtube</a></li>
      <li><a href="https://scholar.google.com/citations?user=G2zXCNkAAAAJ&hl=en">scholar</a></li>
      <li><a href="https://github.com/alex-petrenko">github.com/alex-petrenko</a></li>
    </ul>
    <p class="footer-note"><small>Made in 2017 in Nizhny Novgorod, Russia. Last updated in 2023 in Mountain View, CA, US.</small></p>
  </div>
</footer>
